@model IEnumerable<Pinzoe_Client.Models.CartItemSet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<br />

<br />
<br />

<div id="main" class="container">
    <div id="content-header">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                <div id="checkoutbar" class="progressbar container">
                    <ul class="row">
                        <li class="active">運送/付款方式</li>
                        <li>運送/付款資料</li>
                        <li>送出訂單</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content-body">
        <div id="CommodityList" class="a-block">
            <table class="table a-block-body text-center">
                <thead>
                    <tr>
                        <th class="col-sm-3">商品</th>
                        <th class="col-sm-3">品項</th>
                        <th class="col-sm-2">單價</th>
                        <th class="col-sm-2">數量</th>
                        <th class="col-sm-2">小計</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Images/box11100.jpg" width="185" height="125" />
                                <div>@item.ProductSet.ProductTypeSet.Name/@item.ProductSet.Name</div>
                            </td>
                            <td>
                                <span>
                                    @Html.Action("PickItem", "Checkout", new { cartitemID = item.Id })
                                </span>
                            </td>
                            <td>
                                @item.ProductSet.Price
                            </td>
                            <td>
                                @item.Count
                            </td>
                            <td>
                                @item.Subtotal
                            </td>
                        </tr>
                    }
                    @*<tr>
                            <td>
                                <img src="~/Img/box11100.jpg" width="185" height="125" />
                                <img src="images/box1.png" alt="">
                                <div>彌月禮盒/鳳凰于飛</div>
                            </td>
                            <td>
                                <span>
                                    巧克力酥   4個<br />
                                    巧克力杏仁 4個<br />
                                    巧克腰果   4個<br />
                                    海苔酥餅   4個<br />
                                    芝麻酥餅   4個<br />
                                </span>
                            </td>
                            <td>233</td>
                            <td>20</td>
                            <td>6440</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Img/box11100.jpg" width="185" height="125" />
                               <img src="images/box1.png" alt="">
                                <div>彌月禮盒/鳳凰于飛</div>
                            </td>
                            <td>
                                <span>
                                    巧克力酥   4個<br />
                                    巧克力杏仁 4個<br />
                                    巧克腰果   4個<br />
                                    海苔酥餅   4個<br />
                                    芝麻酥餅   4個<br />
                                </span>
                            </td>
                            <td>233</td>
                            <td>20</td>
                            <td>6440</td>
                        </tr>*@
                    <tr>
                        <td>總計</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
        @using (Html.BeginForm()) { 
        <div id="DeliveryMethod" class="a-block">
            <table class="table  a-block-body" style="text-align: center">
                <thead>
                    <tr>
                        <th class="col-sm-2">運送方式</th>
                        <th class="col-sm-10">說明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="radio" name="deliverymethod" value="1">
                            <label>自取</label>
                        </td>
                        <td>自取地址:高雄市三民區灣興街XXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="deliverymethod" value="2">
                            <label>宅配</label>
                        </td>
                        <td>運費規則:TEXT TEXT TEXT TEXT TEXT TEXT </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="deliverymethod" value="3">
                            <label>專車接送</label>
                        </td>
                        <td>限高雄市:TEXT TEXT TEXT TEXT TEXT TEXT </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="PayMethod" class="a-block">
            <table class="table a-block-body" style="text-align: center">
                <thead>
                    <tr>
                        <th class="col-sm-2 ">付款方式</th>
                        <th class="col-sm-10 ">說明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="radio" name="paymethod" value="1">
                            <label>信用卡</label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="paymethod" value="2">
                            <label>ATM轉帳</label>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="a-block">
            <input type="submit" class="btn btn-lg btn-primary col-md-9 col-md-offset-9 " value="下一步 " />
        </div>
        }
       
    </div>
</div><!-- /main End -->
